/*Lawrence Arundel CS 465

// Sources:
// Codepen, codepen. (2021, June 30). Draw an X in CSS (close sign) - codepen. codepen., from https://codepen.io/subin/pen/aEbvBP 
// Compart, C. (2022, March 3). Find all unicode characters from hieroglyphs to dingbats – unicode compart. https://www.compart.com/en/unicode/U+27. Retrieved April 29, 2023, from https://www.compart.com/en/unicode/U+2753 
// Emoji Combos, E. C. (2022, February 14). Emoji Combosbeta. Emoji Combos., from https://emojicombos.com/ 
// Express, E. (2022, February 12). Cookie-parser. Express cookie-parser middleware., from https://expressjs.com/en/resources/middleware/cookie-parser.html 
// Express, E. (2022, February 12). Middleware Morgan., Middleware Morgan., from https://expressjs.com/en/resources/middleware/morgan.html
// Fitzgerald, A. (2022, July 14). HTML tables: When to use them and how to make &amp; edit them. HubSpot Blog., from https://blog.hubspot.com/website/make-a-table-in-html#:~:text=To%20make%20a%20table%20in%20HTML%2C%20use%20the,tag%20defines%20the%20table%20header. 
// Forret, P. (2021, April 3). HTML character: right arrow. HTML character: right arrow · toolstud.io., from https://toolstud.io/web/charmap.php?encoded=larr 
// Forret, P. (2021, April 3). HTML character: left arrow. HTML character: left arrow · toolstud.io., from https://toolstud.io/web/charmap.php?encoded=rarr
// GeeksForGeeks, G. F. G. (2023, March 16). Express.js res.render() function. GeeksforGeeks., from https://www.geeksforgeeks.org/express-js-res-render-function/ 
// GeeksForGeeks, G. F. G. (2023, March 16). Express.js express.Router() Function. GeeksforGeeks., from https://www.geeksforgeeks.org/express-js-express-router-function/
// Holmes, S., &amp; Harber, C. (2019). Getting mean with Mongo, express, angular, and node. Manning. 
// Hotsymbol, H. (2020, November 13). House copy and Paste - Hotsymbol. Hotsymbol., from https://www.hotsymbol.com/symbol/house 
// IconScout, I. S. (2022, March 3). Free user circle icon - download in Glyph style. IconScout., from https://iconscout.com/icon/user-circle-3609976 
// IconScout, I. S. (2022, March 3). Free Mail Icon - download in Glyph style. IconScout., from https://iconscout.com/icons/mail-icon?price=free
// IconScout, I. S. (2022, March 3). Free Message Icon - download in Glyph style. IconScout., from https://iconscout.com/icon/chat-bubble-4398305
// IconScout, I. S. (2022, March 3). Free Question Mark Icon - download in Glyph style. IconScout., from https://iconscout.com/icon/help-2653303
// Megida, D. (2022, April 25). Module.exports – how to export in node.js and JavaScript. freeCodeCamp.org., from https://www.freecodecamp.org/news/module-exports-how-to-export-in-node-js-and-javascript/#:~:text=module.exports%20is%20an%20object,with%20the%20require%20global%20method. 
// MIT, M. I. T. (2021, October 19). # introduction. Handlebars., from https://handlebarsjs.com/guide/ 
// Mozilla, M. (2022, February 1). Express tutorial part 4: Routes and controllers - learn web development: MDN. Learn web development | MDN., from https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/routes 
// Mozilla, M. (2022, February 1). Express/Node introduction., Express/Node introduction., from https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Introduction
// Mozilla, M. (2022, February 1). Element: getElementsByClassName() method., from https://developer.mozilla.org/en-US/docs/Web/API/Element/getElementsByClassName
// Mozilla, M. (2022, February 1). Background., from https://developer.mozilla.org/en-US/docs/Web/HTML/Viewport_meta_tag
// NPM, N. P. M. (2022, May 11). HTTP-errors. npm., from https://www.npmjs.com/package/http-errors 
// Philiapp, P. (2022, February 2). X mark letters. X mark symbols - ✖., from https://www.piliapp.com/symbol/x-mark/ 
// Phuoc, N. H. (2021, September 4). Loop over a nodelist - HTML dom. 1LOC., from https://htmldom.dev/loop-over-a-nodelist/ 
// Sam, B. (2022, July 22). How to highlight-change color of selected row in table. OutSystems., from https://www.outsystems.com/forums/discussion/80134/how-to-highlight-change-color-of-selected-row-in-table/ 
// Scherer, M. (2023, April 3). 🔍︎ (text style) magnifying glass tilted left : U+1F50D fe0e unicode information. EmojiAll., from https://www.emojiall.com/en/code/1F50D-FE0E 
// SNHU, S. N. H. U. (2023, May 1). CS 465 Full Stack Guide., from https://learn.snhu.edu/d2l/home 
// SNHU, S. N. H. U. (2023, May 1). CS 465 Travlr Getaways Wireframe., from https://learn.snhu.edu/content/enforced/1313027-CS-465-T5558-OL-TRAD-UG.23EW5/course_documents/CS%20465%20Travlr%20Getaways%20Wireframe.pdf?ou=1313027
// SNHU Media, S. N. H. U. M. (2020, March 3). CS 465: MVC Routing. YouTube., from https://www.youtube.com/watch?v=aNIrBEpc1cM&amp;ab_channel=SNHUMedia 
// SNHU Media, S. N. H. U. M. (2020, March 3). CS 465: Dynamic view rendering. YouTube., from https://www.youtube.com/watch?v=vXr5FVuVAyg&amp;ab_channel=SNHUMedia 
// Softel, S. (2021, March 5). Simple Image Placeholder Service. Placeholder Service., from https://placehold.jp/en.html 
// W3Schools, W. S. (2021, May 4). How to - tabs. How To Create Tabs., from https://www.w3schools.com/howto/howto_js_tabs.asp 
// W3Schools, W. S. (2021, May 4). JavaScript HTML DOM EventListener., from https://www.w3schools.com/js/js_htmldom_eventlistener.asp#:~:text=The%20addEventListener()%20method%20attaches,event%20handlers%20to%20one%20element.
// W3Schools, W. S. (2021, May 4). GetElementByID()., from https://www.w3schools.com/jsref/met_document_getelementbyid.asp#:~:text=Definition%20and%20Usage,or%20edit%20an%20HTML%20element.
// W3Schools, W. S. (2021, May 4). HTML DOM Document querySelectorAll()., from https://www.w3schools.com/jsref/met_document_queryselectorall.asp#:~:text=Definition%20and%20Usage,the%20selector(s)%20is%20invalid
// W3Schools, W. S. (2021, May 4). HTML DOM Element classList., from https://www.w3schools.com/jsref/prop_element_classlist.asp
// W3Schools, W. S. (2021, May 4). Style display Property., from https://www.w3schools.com/jsref/prop_style_display.asp
// W3Schools, W. S. (2021, May 4). HTML DOM Element className., from https://www.w3schools.com/jsref/prop_html_classname.asp
// W3Schools, W. S. (2021, May 4). JavaScript Window Location., from https://www.w3schools.com/js/js_window_location.asp
// W3Schools, W. S. (2021, May 4). stopPropagation() Event Method., from https://www.w3schools.com/jsref/event_stoppropagation.asp#:~:text=Definition%20and%20Usage,capturing%20down%20to%20child%20elements.

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the reservation, news, and checkout tabs */
#contents {
	position: relative;
	left: -15px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for search bar in the travel screen located with the label "search travel" */
.travel-search {
	position: relative;
	top: 65px;
	left: 181px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for for the input box for the travel search label */
.travel-search input[type="text"] {
	padding-left: 30px;
	border: 1px solid #ccc;
	height: 20px;
	width: 325px;
	font-size: 16px;
	padding: 10px;

}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for magnifying glass associated with the "search travel" labeled search box within the travel page */
.travel-search-icon {
	position: relative;
	top: 11px;
	left: -325px;
	transform: translateY(-50%);
	color: #aaa;
	font-size: 18px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the search bar in the top right corner of screen*/
.top-search {
	position: relative;
	top: -87px;
	left: 981px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the search bar in the top right corner of screen*/
.top-search input[type="text"] {
	border: 1px solid #ccc;
	height: 20px;
	width: 100px;
	font-size: 16px;
	padding: 2px;
	border-radius: 40px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the URL bar at the top of the screen*/
#search-bar-address {
	position: relative;
	width: 70.5%;
	height: 20px;
	top: -75px;
	left: 17%;

}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the body of the application*/
body {
	background: gray;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	height: 100%;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the page div of the application*/
#page {
	width: 960px;
	margin: 0 auto;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used in the section of the admin page which contains everything below the header of the page contained within the body */
#page-admin {
	width: 1100px;
	position: relative;
	top: 70px;
	left: 143px;
	margin: 0 auto;
	background-color: #ac9e94;
	height: 100%;

}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the navigation div which controls the search bar at the top right and the navigation bar on each page with the various options */
#navigation {
	background-color: darkgray;
	clear: both;
	height: 50px;
	width: 860px;
	margin: 0 auto;
	position: relative;
	top: 78px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the navigation div which controls the search bar at the top right and the navigation bar on each page with the various options */
#navigation ul {
	display: inline-block;
	width: 860px;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the navigation div which controls the search bar at the top right and the navigation bar on each page with the various options */
#navigation li {
	position: relative;
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 122px;
	margin: 0;
	text-align: center;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the navigation div which controls the search bar at the top right and the navigation bar on each page with the various options */
#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
	border: 2px solid black;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the navigation div which controls the search bar at the top right and the navigation bar on each page with the various options */
#navigation li:last-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the navigation div which controls the search bar at the top right and the navigation bar on each page with the various options */
#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: underline;
	text-transform: uppercase;
	border-left: 1px solid black;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the navigation div which controls the search bar at the top right and the navigation bar on each page with the various options */
#navigation li a:hover {
	background-position: 0 -59px;
	color: #6d6157;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents {
	display: inline-block;
	width: 865px;
	padding: 0 47px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents h1 {
	color: gray;
	font: 26px/30px "Times New Roman", Times, serif;
	margin: 18px 0 20px;
	padding-left: 2px;
	text-transform: uppercase;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents div.body h1,
#contents h2 {
	color: gray;
	font: 30px/30px "Times New Roman", Times, serif;
	margin: 0 0 18px;
	text-transform: uppercase;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents h2 {
	font-size: 22px;
	margin: 0 0 30px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents h2 a {
	color: #2c9688;
	text-decoration: none;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents p {
	color: #5a4535;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents p a {
	color: #5a4535;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents p a:hover,
#news div.sidebar ul li a:hover {
	color: #917157;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents p a:hover,
#reservations div.sidebar ul li a:hover {
	color: #917157;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents p a:hover,
#checkout div.sidebar ul li a:hover {
	color: #917157;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents div.box {
	background-position: left bottom;
	margin-bottom: 20px;
	margin-left: 1px;
	padding: 0 0 6px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents div.box>div {
	background-position: -1745px top;
	padding: 6px 0 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the contents div which help with proper alignment for each page for positioning purposes */
#contents div.body {
	background-position: -871px top;
	background-repeat: repeat-y;
	min-height: 980px;
	padding: 30px 40px 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the div used within the main class which specifies parameters within it including the images on each page, etc. */
#main {
	float: left;
	min-height: 100px;
	width: 566px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the sidebar div used in the login screen to position the login window properly*/
#sidebar {
	float: right;
	height: auto;
	width: 285px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the sidebar div used in the login screen, home screen, and sign up screen to position images and windows*/
#sidebar div.section {
	height: 144px;
	margin-bottom: 12px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the sidebar div used in the login screen, home screen, and sign up screen to position images and windows*/
#sidebar div.section:first-child {
	padding: 3px 0 0;

}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the sidebar div used in the login screen, home screen, and sign up screen to position images and windows (hover properties)*/
#sidebar div.section>a:hover {
	filter: alpha(opacity=60);
	opacity: 0.6;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the sidebar div used in the login screen, home screen, and sign up screen to position images and windows*/
#sidebar .section:nth-child(1) img {
	position: relative;
	left: 20%;

	top: 300px;
	border-radius: 10px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the sidebar div used in the login screen, home screen, and sign up screen to position images and windows*/
#sidebar .section:nth-child(2) img {
	position: relative;
	top: 70px;
	left: -92%;

	border-radius: 10px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the sidebar div used in the login screen, home screen, and sign up screen to position images and windows*/
#sidebar .section:nth-child(3) img {
	position: relative;
	left: 135%;
	top: -85px;
	border-radius: 10px;

}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the news, reservations, and checkout screen middle text starting with "Sed et" */
#news {
	position: relative;
	top: 20px;
	left: 70px;
	background-color: white;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#news div.sidebar {
	float: right;
	width: 160px;
	border: 0;
	padding: 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#news div.sidebar h3:first-child {
	border: 0;
	padding-top: 0px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#news div.sidebar ul {
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#news div.sidebar ul li a {
	color: #5a4535;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 6px;
	text-decoration: none;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#checkoutul li {
	margin-bottom: 12px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the news, reservations, and checkout screen middle text starting with "Sed et" */
#checkout {
	position: relative;
	top: 20px;
	left: 70px;
	background-color: white;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#checkout div.sidebar {
	float: right;
	width: 160px;
	border: 0;
	padding: 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#checkout div.sidebar h3:first-child {
	border: 0;
	padding-top: 0px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#checkout div.sidebar ul {
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#checkout div.sidebar ul li a {
	color: #5a4535;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 6px;
	text-decoration: none;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#checkout ul li {
	margin-bottom: 12px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the news, reservations, and checkout screen middle text starting with "Sed et" */
#reservations {
	position: relative;
	top: 20px;
	left: 70px;
	background-color: white;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#reservations div.sidebar {
	float: right;
	width: 160px;
	border: 0;
	padding: 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#reservationsdiv.sidebar h3:first-child {
	border: 0;
	padding-top: 0px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#reservations div.sidebar ul {
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#reservations div.sidebar ul li a {
	color: #5a4535;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 6px;
	text-decoration: none;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to position the side text within the reservation, checkout, and news screens */
#reservations ul li {
	margin-bottom: 12px;
}



/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used to style the footer within the application */
#footer {
	color: white;
	font-size: 14px;
	line-height: 48px;
	margin: -38px 0 20px;
	padding-top: 42px;
	text-transform: uppercase;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	property that sets the position of the marker relative to a list item <ul>*/
li {
	list-style: none;
	margin-bottom: 10px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	function that positions the X within the first element with the relative property*/
li.selected_x {
	position: absolute;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	function that transforms the X within the first element in the <ul> menu bar for proper implementation*/
li.selected_x a:before {
	content: "X";
	position: absolute;
	top: -1px;
	right: -5px;
	transform: scaleY(12);
	transform: scaleX(5);
	font-weight: 100;
	pointer-events: none;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	function that transforms the X within the first element in the <ul> menu bar for proper implementation*/
li.selected_x a:before {
	transform: translate(-630%) rotate(90deg) scaleX(5) scaleY(12);
}

/* Source - (W3C, 2022, p. 1);(W3Schools, 2022, p. 1)
	properties for the <p> element within the application*/
p {
	text-align: center;
	color: white
}

/* Source - (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	  label properties for the corporate logo within the index screen of application*/
label[for="corp-logo"] {
	font-weight: bold;
	color: white;
}

/* Source - (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	  label properties for the corporate logo within the index screen of application*/
label[for="logged-label"] {
	font-weight: bold;
	color: white;
}

/* Source - (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	  label properties used to incorporate the user icon located next to login on each screen*/
#user-icon {
	width: 25%;
	height: 55%;
	position: relative;
	left: -10px;

}

/* Source - (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	  label properties used to incorporate the shopping cart icon located next to login on each screen*/
#shopping-icon {
	width: 20%;
	height: 55%;
	float: left;
	position: relative;
	top: 10px;
	left: -2px;

}

/* Source - (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)
	  properties used to show the Travel header within the travel menu for application*/
#header-travel {
	position: relative;
	left: -250px;
	top: 52px;
	color: #594334;
	font-size: 24px;
	line-height: 48px;
	margin: -22px 50px 20px;
	background-color: #ac9e94;
	display: inline-block;
	width: 1370px;
	padding: 10px;

}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the edit labl in the travel screen */
#edit-label {
	color: #594334;
	position: relative;
	font-size: 24px;
	left: -567px;
	top: 38px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the previous page clickable lable within the travel screen  */
#previous-screen {
	color: #594334;
	position: relative;
	left: 130px;
	top: -10px;
	text-decoration:underline;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the previous page clickable lable within the travel screen  */
#previous-screen:hover {
	color: purple;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the table rows within the travel screen */
tr {
	color: #594334;
	text-align: left;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the table within the travel screen */
table {
	cursor: pointer;
	position: relative;
	left: -200px;
	top: 42px;
	width: 142%;
	border-collapse: collapse;

}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the selected table class within the travel screen */
.selected-table {
	background-color: #ac9e94;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the previous button within the travel screen */
#previous-table {
	position: relative;
	left: 950px;
	top: 30px;
	margin: 25px;
	background-color: #ac9e94;
	color: #594334;
	margin-top: 30px;
	text-decoration: underline;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the previous button within the travel screen */
#previous-table:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the next button within the travel screen */
#next-table {
	position: relative;
	left: 925px;
	top: 30px;
	margin: 25px;
	background-color: #ac9e94;
	color: #594334;
	margin-top: 30px;
	text-decoration: underline;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the next button within the travel screen */
#next-table:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the tabs within the travel screen */
.tab {
	position: relative;
	width: 375px;
	left: -190px;
	top: 45px;
	background-color: #ac9e94;
	color: #594334;
	margin-left: 50px;
	z-index: 10;
	border-top-left-radius: 10px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the tabs within the travel screen */
.tab button {
	background-color: #ac9e94;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	color: #594334;
	border-top-right-radius: 10px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the tabs within the travel screen (hover) */
.tab button:hover {
	background-color: #ddd;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the tabs within the travel screen (focus) */
.tab button:focus {
	background-color: darksalmon;
	color: #fff;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the add trip button within the travel screen */
#add-trip {
	position: relative;
	left: 530px;
	font-size: 12px;
	top: 38px;
	width: 220px;
	height: 21px;
	background-color: #ac9e94;
	color: #594334;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the add trip button within the travel screen */
#add-trip:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the table header within the travel screen */
th {
	background-color: #ac9e94;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the table row child within the travel screen */
tr:nth-child(even) td {
	background-color: #f2f2f2;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the table row child within the travel screen */
tr:nth-child(odd) td {
	background-color: lightgray;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the table row for salmon property functionality within the travel screen */
tr.salmon td {
	background-color: salmon;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the title located on each page */
#title {
	position: relative;
	font-size: 20px;
	top: -60px;
	color: white;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property used for the hidden capabilities of each table within the travel screen */
.hidden {
	display: none;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the arrow in the navigation bar in the top left of each page */
.arrow {
	font-size: 25px;
	background-color: transparent;
	color: white;
	border: none;
	position: relative;
	top: -15px;
	left: -100px
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the arrow in the navigation bar in the top left of each page (hover) */
.arrow:hover {
	background-color: darkgray;
	border-radius: 10px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the x-symbol in the navigation bar in the top left of each page (hover) */
.x-symbol:hover {
	background-color: darkgray;
	border-radius: 10px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the x-symbol in the navigation bar in the top left of each page */
.x-symbol {
	font-size: 20.5px;
	background-color: transparent;
	color: white;
	border: none;
	position: relative;
	top: -15px;
	left: -100px
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the home button in the navigation bar in the top left of each page */
.home-button {
	font-size: 30px;
	text-decoration: none;
	color: white;
	background-color: transparent;
	border: none;
	position: relative;
	top: -15px;
	left: -100px
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the home button in the navigation bar in the top left of each page (hover) */
.home-button:hover {
	background-color: darkgray;
	border-radius: 10px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the login label in the login screen */
#login-label {
	position: relative;
	left: 196px;
	top: -400px;
	color: #5a4535;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the signup label in the signup screen */
#signup-label {
	position: relative;
	left: 210px;
	top: -490px;
	color: #5a4535;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the login button in the login screen */
#login-button {
	background-color: #ac9e94;
	color: rgb(68, 68, 68);
	border: none;
	padding: 5px 30px;
	position: relative;
	top: 70px;
	left: -80px;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the login button in the login screen */
#login-button:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the email label in the login screen */
#email-label {
	color: #5a4535;
	position: relative;
	left: 125px;
	top: 20px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the forgot password label in the login screen */
#forgot-password-question-mark {
	border-radius: 50%;
	padding: 1px;
	border: 3px solid black;
	background-color: white;
	color: black;
	position: relative;
	text-decoration: none;
	top: 80px;
	left: 60px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the password label in the login screen */
#password-label {
	color: #5a4535;
	position: relative;
	left: -210px;
	top: 70px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the login section in the login screen */
.login-section {
	border: solid black 2px;
	background-color: #ac9e94;
	width: 560px;
	height: 180px;
	position: relative;
	top: -250px;
	left: -130px;
	z-index: 1;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the signup check mark in the sign up screen */
#signup-check {
	position: relative;
	top: 150px;
	left: 196px;
}

/* Source-(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the signup section in the signup screen */
.signup-section {
	border: solid black 2px;
	background-color: #ac9e94;
	width: 560px;
	height: 350px;
	position: relative;
	top: -325px;
	left: -120px;
	z-index: 999;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the input email in the login screen */
#input-email {
	border: 2px solid black;
	position: relative;
	left: 130px;
	top: 15px;
	width: 250px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the input password in the login screen */
#input-password {
	border: 2px solid black;
	position: relative;
	left: 180px;
	top: 30px;
	width: 250px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the signup button in the login screen */
#signup-button {
	background-color: #ac9e94;
	color: rgb(68, 68, 68);
	border: none;
	padding: 5px 30px;
	position: relative;
	top: 33px;
	left: 290px;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the signup button in the signup screen */
#signup-button-signup {
	background-color: #ac9e94;
	color: rgb(68, 68, 68);
	border: none;
	padding: 5px 30px;
	position: relative;
	top: 150px;
	left: 190px;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the signup button in the signup screen */
#signup-button:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) property for the signup button in the signup screen */
#signup-button-signup:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the forgot password label within the login page (Mozilla, 2022, p. 1)*/
#forgot-password {
	position: relative;
	top: 70px;
	left: 130px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the links within the application that will change the color to blue when the link is
	visited which will work for when the user presses on link, will highlight purple and go back to blue (Mozilla, 2022, p. 1)*/
a:visited {
	color: blue;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the links within the application that will hover the color purple when the user
	scrolls over active url elements (Mozilla, 2022, p. 1)*/
a:hover,
a:active {
	color: purple;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for label for the learn more attribute in the signup page (Mozilla, 2022, p. 1)*/
#learn-more {
	position: relative;
	top: 150px;
	left: 200px;
	text-decoration: underline;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1)properties for label for the name in the signup page (Mozilla, 2022, p. 1)*/
#name-label-signup {
	color: #5a4535;
	position: relative;
	left: 126px;
	top: 49px;

}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for input box for the name in the signup page (Mozilla, 2022, p. 1)*/
#input-name-signup {
	border: 2px solid black;
	position: relative;
	left: 133px;
	top: 45px;
	width: 250px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for label for the email in the signup page (Mozilla, 2022, p. 1)*/
#email-label-signup {
	color: #5a4535;
	position: relative;
	left: -190px;
	top: 100px;
}

/*  Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for input box for the email in the signup page (Mozilla, 2022, p. 1)*/
#input-email-signup {
	border: 2px solid black;
	position: relative;
	left: 194px;
	top: 60px;
	width: 250px;
}

/*  Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for label for the password in the signupscreen (Mozilla, 2022, p. 1)*/
#password-label-signup {
	color: #5a4535;
	position: relative;
	left: -151px;
	top: 115px;
}

/* Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for input box for the password in the signup screen (Mozilla, 2022, p. 1)*/
#input-password-signup {
	border: 2px solid black;
	position: relative;
	left: -146px;
	top: 115px;
	width: 150px;
}

/*  Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for retype input label for the password in the signup screen (Mozilla, 2022, p. 1)*/
#retype-password-label-signup {
	color: #5a4535;
	position: relative;
	left: 47px;
	top: 132px;
}

/*  Source- (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for retype input box for the re-type password in the signup screen (Mozilla, 2022, p. 1)*/
#retype-input-password-signup {
	border: 2px solid black;
	position: relative;
	width: 150px;
	top: 130px;
	left: 52px;
}

/*  Source- (Codepen, 2021, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the my project label within the admin page (Mozilla, 2022, p. 1)*/
.project-label {
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 85px;
	margin: 0 auto;
	padding: 10px 10px;
	top: -37px;
	left: -665px;
	font-size: 11px;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	z-index: 1;
	text-align: center;
}

/*  Source- (Codepen, 2021, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the my project box with the x within the admin page (Mozilla, 2022, p. 1)*/
.box-with-x {
	width: 60px;
	height: 50px;
	border: 2px solid black;
	position: relative;
	top: -80px;
	left: -145px;
	background-color: silver;
}

/*  Source- (Codepen, 2021, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the my project box with the x within the admin page (Mozilla, 2022, p. 1)*/
.box-with-x:before,
.box-with-x:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 2px;
	background-color: black;
	transform: translate(-50%, -50%) rotate(35deg);
}

/*  Source- (Codepen, 2021, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the my project box with the x within the admin page (Mozilla, 2022, p. 1)*/
.box-with-x:before {
	transform: translate(-50%, -50%) rotate(-35deg);
}

/*  Source- (Codepen, 2021, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties for the my project box with the x within the admin page (Mozilla, 2022, p. 1)*/
.close {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: rotate(45deg);
	cursor: default
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for admin side bar which includes the travel, reservations, users, and settings*/
#admin-sidebar a {
	color: white;
	position: relative;
	top: -10px;
	left: -215px;
	padding: 10px;
	margin: 10px;
	text-decoration: underline;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for admin side bar which includes the travel, reservations, users, and settings*/
#admin-sidebar a:hover {
	color: purple;
}

/* (Iconscout, 2022, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for admin side bar which includes the question mark, chat bubbles, mail, and user logo*/
#user-options {
	position: absolute;
	top: -42px;
	left: 1020px;
	transform: rotate(90deg);
	transform-origin: center center;
	height: 10px;
	width: 100px;
}

/* (Iconscout, 2022, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for admin side bar which includes the question mark, chat bubbles, mail, and user logo*/
#user-logo {
	fill: white;
	transform: rotate(-90deg);
	position: relative;
	left: 3px;
}

/* (Iconscout, 2022, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for admin side bar which includes the question mark, chat bubbles, mail, and user logo*/
#message-icon {
	fill: white;
	transform: rotate(-90deg);
	padding: 4px;
}

/* (Iconscout, 2022, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for admin side bar which includes the question mark, chat bubbles, mail, and user logo*/
#chat-icon {
	fill: white;
	transform: rotate(-90deg);
}

/* (Iconscout, 2022, p. 1);(Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for admin side bar which includes the question mark, chat bubbles, mail, and user logo*/
#question-icon {
	fill: white;
	transform: rotate(-90deg);
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the header in the admin page*/
#project-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: silver;
	height: 60px;
	padding: 0 20px;
	position: relative;
	width: 5370px;
	left: -2200px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the footer in the admin page*/
.admin-footer {
	position: relative;
	top: 600px;
	left: 570px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the middle section in the admin page*/
.admin-box {
	width: 700px;
	height: 330px;
	top: -140px;
	border: 2px solid black;
	position: relative;
	left: 110px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the group name label in the admin page*/
#admin-group-name {
	position: relative;
	top: -482px;
	left: 130px;
	z-index: 1;
	text-decoration: bold;
	font-size: 18px;
	background-color: #ac9e94;
	color: white;
	padding: 10px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the id label in the admin page*/
#id-label {
	color: #5a4535;
	position: relative;
	left: 230px;
	top: -460px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the destination label in the admin page*/
#destination-label {
	color: #5a4535;
	position: relative;
	left: 65px;
	top: -420px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the resort label in the admin page*/
#resort-label {
	color: #5a4535;
	position: relative;
	left: -245px;
	top: -280px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the person label in the admin page*/
#person-label {
	color: #5a4535;
	position: relative;
	left: -585px;
	top: -230px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the id input in the admin page*/
#id-input {
	border: 2px solid black;
	position: relative;
	width: 75px;
	top: -460px;
	left: 250px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the destination input in the admin page*/
#destination-input {
	border: 2px solid black;
	position: relative;
	width: 250px;
	top: -420px;
	left: 84px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the resort input in the admin page*/
#resort-input {
	border: 2px solid black;
	position: relative;
	width: 250px;
	top: -280px;
	left: -225px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the person input in the admin page*/
#person-input {
	border: 2px solid black;
	position: relative;
	width: 120px;
	top: -230px;
	left: -563px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the counter of number of days input*/
#length-stay {
	border: 2px solid black;
	position: relative;
	width: 30px;
	height: 20px;
	top: -412px;
	left: 280px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the label of number of days input*/
#length-label {
	color: #5a4535;
	position: relative;
	left: -818px;
	top: -380px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the label of number of night input*/
#night-label {
	color: #5a4535;
	position: relative;
	left: 285px;
	top: -412px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the label of number of days input*/
#length-label-day {
	color: #5a4535;
	position: relative;
	left: 345px;
	top: -412px;

}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the label for the days */
#length-stay-day {
	border: 2px solid black;
	position: relative;
	width: 30px;
	height: 20px;
	top: -412px;
	left: 267px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the date input */
#date-input {
	border: 2px solid black;
	position: relative;
	width: 120px;
	height: 20px;
	top: -365px;
	left: 45px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the date input */
input[type="date"]::-webkit-calendar-picker-indicator {
	position: relative;
	left: 30px;
	top: 12px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: none;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the date label*/
#date-label {
	color: #5a4535;
	position: relative;
	left: 20px;
	top: -365px;
}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the div on the left side of the admin screen*/
.left-side-color-admin {
	position: relative;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: gray;

}

/* (Mozilla, 2022, p. 1);(W3Schools, 2022, p. 1) properties used for the div on the bottom side of the admin screen*/
.bottom-side-color-admin {
	position: relative;
	top: -655px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ac9e94;
}