/*
Lawrence Arundel CS 465  
Sources: 
Mozilla, M. (2022, April 2). Using media queries - CSS: Cascading style sheets: MDN. CSS: Cascading Style Sheets | MDN., from https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries 
Mozilla, M. (2022, April 2). Font-weight: MDN. CSS: Cascading Style Sheets | MDN., from https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
Mozilla, M. (2022, April 2). Transform: MDN. CSS: Cascading Style Sheets | MDN., from https://developer.mozilla.org/en-US/docs/Web/CSS/transform
Mozilla, M. (2022, April 2). list-style-position: MDN. CSS: Cascading Style Sheets | MDN., from https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position
Oberoi, R. (2019, November 7). Difference between media-only and media-screen CSS queries. Medium., from https://medium.com/@oberoirahul537/difference-between-media-only-and-media-screen-css-queries-c9d42666f861#:~:text=The%20%40media%20screen%20query%20simply,maximum%20width%20of%20500%20pixels. 
W3C, W. C. (2022, March 3). 15 alignment, font styles, and horizontal rules. Alignment, font styles, and horizontal rules in HTML documents., from https://www.w3.org/TR/html401/present/graphics.html 
/* Website template by freewebsitetemplates.com */

.top-search {
	position: relative;
	display: inline-block;
	top:-50px;
	left:1111px;
}

.top-search input[type="text"] {
	padding-left: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 20px;
	width: 100px;
	font-size: 16px;
	padding: 10px;
	border-radius:40px;
}

.search-icon {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: #aaa;
	font-size: 18px;
}

.top-search input[type="text"]:focus+.search-icon,
.top-search input[type="text"]:not(:placeholder-shown)+.search-icon {
	display: none;
}





.navigation button {
	margin: 0 -4px;
}

#search-bar-address {
	position: relative;
	width: 70.5%;
	height: 20px;
	top: -25px;
	left: 17%;

}


body {
	background: gray;
	font-family: "Times New Roman", Times, serif;
	margin: 0;



}

#background {
	background-color: gray;
	min-height: 1318px;
}

#page {
	width: 960px;
	margin: 0 auto;
}

#page-admin {
	width: 1990px;
	height: 900px;
	position: relative;
	top: 170px;
	left: 250px;
	margin: 0 auto;
	background-color: #ac9e94;

}

img {
	border: 0;
}

/*------------------------------ Sprites ------------------------------*/
#navigation li,
#navigation li a:hover,
#navigation li.selected a {

	background-repeat: repeat-x;
}

#contents div.box,
#contents div.box>div,
#contents div.body {
	background-image: url(../images/content-box.png);
	background-repeat: no-repeat;
}

#main div.box,
#main div.box>div,
#main div.box>div>div {

	background-repeat: no-repeat;
}



/** Logo **/
#logo {
	float: left;
	margin-bottom: 20px;
	margin-left: 49px;
}

/** Navigation **/
#navigation {
	background-color: darkgray;
	clear: both;
	height: 50px;
	width: 860px;
	margin: 0 auto;
	position: relative;
	top:120px;
	left: 120px;

}

#navigation ul {
	display: inline-block;
	width: 860px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation li {
	position: relative;
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 122px;
	margin: 0;
	text-align: center;
}

#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
	border: 2px solid black;
}

#navigation li:last-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}

#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: underline;
	text-transform: uppercase;
	border-left: 1px solid black;
}

#navigation li a:hover {
	background-position: 0 -59px;
	color: #6d6157;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	display: inline-block;
	width: 865px;
	padding: 0 47px;
}

#contents h1 {
	color: gray;
	font: 26px/30px "Times New Roman", Times, serif;
	margin: 18px 0 20px;
	padding-left: 2px;
	text-transform: uppercase;
}

#contents div.body h1,
#contents h2 {
	color: gray;
	font: 30px/30px "Times New Roman", Times, serif;
	margin: 0 0 18px;
	text-transform: uppercase;
}

#contents h2 {
	font-size: 22px;
	margin: 0 0 30px;
}

#contents h2 a {
	color: #2c9688;
	text-decoration: none;
}

#contents p {
	color: #5a4535;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}

#contents p a {
	color: #5a4535;
}

#contents p a:hover,
#news div.sidebar ul li a:hover {
	color: #917157;
}

/** box-shadow **/
#contents div.box {
	background-position: left bottom;
	margin-bottom: 20px;
	margin-left: 1px;
	padding: 0 0 6px;
}

#contents div.box>div {
	background-position: -1745px top;
	padding: 6px 0 0;
}

#contents div.body {
	background-position: -871px top;
	background-repeat: repeat-y;
	min-height: 980px;
	padding: 30px 40px 0;
}

/** Adbox **/
#adbox {
	background: url(../images/bg-adbox.png) no-repeat left top;
	width: 852px;
	margin: 0 auto;
	padding: 4px 5px 18px;
}

#adbox p {
	font-size: 16px;
}

.ads {
	float: right;
	width: 220px;
	border-left: 1px solid #bbbbbb;
	margin-left: 20px;
	padding-left: 20px;
}

hr {
	border: 0;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 30px;
}

/** MAIN **/
#main {
	float: left;
	min-height: 100px;
	width: 566px;
}

#main div.box {
	background-position: left bottom;
	margin-bottom: 12px;
	padding: 0 0 6px;
}

#main div.box>div {
	background-position: -1145px top;
	padding: 6px 0 0;
}

#main div.box>div>div {
	background-position: -572px top;
	background-repeat: repeat-y;
	padding: 17px;
}

#main div.box h3 {
	color: #316e66;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 1px dotted #9c8964;
	margin: 0;
	padding: 0 0 12px;
	text-transform: uppercase;
}

#main div.box h4 {
	font: 22px/24px "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 6px 0 0;
}

#main div.box h4 a {
	color: #5a4535;
	text-decoration: none;
}

#main div.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main div.box ul li {
	border-bottom: 1px dotted #9c8964;
}

#main div.box ul li span {
	color: #5a4535;
	display: block;
	font-size: 14px;
	margin-bottom: 12px;
}

#main div.box ul li p {
	line-height: 24px;
	padding: 0 0 3px;
}

/** SIDEBAR **/
#sidebar {
	float: right;
	height: auto;
	width: 285px;
}

#sidebar div.section {
	height: 144px;
	margin-bottom: 12px;
}

#sidebar div.section {
	height: 144px;
	margin-bottom: 12px;
}

#sidebar div.section:first-child {
	padding: 3px 0 0;

}

#sidebar div.section>a:hover {
	filter: alpha(opacity=60);
	opacity: 0.6;
}

#sidebar .section:nth-child(1) img {
	position: relative;
	left: 20%;

	top: 300px;
	border-radius: 10px;
}

#sidebar .section:nth-child(2) img {
	position: relative;
	top:70px;
	left: -92%;

	border-radius: 10px;
}

#sidebar .section:nth-child(3) img {
	position: relative;
	left: 135%;
	top: -85px;
	border-radius: 10px;

}

/** testimonials **/
#contents div#testimonials h3 {
	color: #2c9688;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 0;
	padding-bottom: 0;
}

#testimonials p {
	display: inline-block;
	line-height: 24px;
	padding-bottom: 3px;
}

#testimonials p span {
	float: right;
}

#testimonials p span a {
	color: #2c9688;
	text-decoration: none;
}

#testimonials p span a:hover {
	color: #2c9688;
}

/** Rooms, Foods Dive Sites **/
#rooms,
#foods,
#sites {
	list-style: none;
	margin: 0;
	padding: 0;
}

#rooms li,
#foods li,
#sites li {
	display: inline-block;
	width: 784px;
	border-top: 1px solid #b7b7b7;
	padding: 30px 0;
	position: relative;
}

#rooms li:first-child,
#foods li:first-child,
#sites li:first-child {
	border-top: 0;
}

#rooms li img {
	float: left;
	border: 1px solid #2c9688;
	margin-right: 15px;
}

#rooms .rate {
	color: #316e66;
	display: inline-block;
	font: 16px/35px "Times New Roman", Times, serif;
	height: 35px;
	width: 138px;
	border: 1px solid #5a4535;
	text-align: center;
	position: relative;
	bottom: 30px;
}

/** Food **/
#foods li>div.infos {
	height: 169px;
	width: 780px;
	position: relative;
}

#foods li>div.infos p {
	background: url(../images/bg-foodDetail.png) repeat;
	color: #316e66;
	display: none;
	height: 60px;
	width: 740px;
	padding: 6px 20px 0;
	position: relative;
	left: 0;
	bottom: 0;
}

#foods li>div.infos p span {
	display: block;
	font: 22px/22px "Times New Roman", Times, serif;
}

#foods li>div.infos:hover span.cover {
	background: url(../images/bg-foodInfos.png) repeat;
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
}

#foods li>div.infos:hover p {
	display: block;
}

/** Dive Site **/
#sites li {
	padding-bottom: 0;
}

#sites li img {
	float: right;
	border: 1px solid #2c9688;
	margin-left: 15px;
}

/** News **/
#news {
	display: inline-block;
	width: 784px;
}

#news>div {
	width: 560px;
	border-right: 1px solid #bbbbbb;
	padding-right: 35px;
}

#news>div img {
	border: 1px solid #2c9688;
	margin-bottom: 20px;
}

#news>div h2 {
	margin-bottom: 12px;
}

#news>div span {
	color: #5a4535;
	display: block;
	font: 15px/24px "Times New Roman", Times, serif;
	margin-bottom: 30px;
}

#news>div span.author {
	color: #2c9688;
	display: block;
	font-size: 14px;
	margin-bottom: 20px;
}

#news div.sidebar {
	float: right;
	width: 160px;
	border: 0;
	padding: 0;
}

#news div.sidebar h3 {
	color: gray;
	font-size: 20px;
	font-weight: normal;
	border-top: 1px solid #b7b7b7;
	margin: 0 0 12px;
	padding-top: 18px;
	text-transform: uppercase;
}

#news div.sidebar h3:first-child {
	border: 0;
	padding-top: 0px;
}

#news div.sidebar ul {
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
}

#news div.sidebar ul li a {
	color: #5a4535;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 6px;
	text-decoration: none;
}

#news ul li {
	margin-bottom: 12px;
}

/** Contact **/
#contact form {
	float: right;
	color: #5a4535;
	height: 320px;
	width: 420px;
	border: 1px solid #5a4535;
	padding: 19px 19px 6px;
}

#contact form table {
	border-collapse: collapse;
}

#contact form table td {
	padding-bottom: 6px;
}

#contact table td:first-child {
	font-size: 14px;
	line-height: 30px;
	width: 180px;
	text-transform: uppercase;
}

#contact table td.txtarea {
	vertical-align: top;
}

#contact form input {
	height: 17px;
	line-height: 17px;
	width: 278px;
	border: 1px solid #5a4535;
	border-radius: 2px;
}

#contact textarea {
	height: 143px;
	line-height: 17px;
	width: 338px;
	border: 1px solid #5a4535;
	border-radius: 2px;
	overflow: auto;
	resize: none;
}

#contact input.btn {
	background: url(../images/btn-send.png) no-repeat -70px 0;
	cursor: pointer;
	height: 26px;
	width: 60px;
	border: 0;
	padding: 0;
	margin: 0;
}

#contact input.btn:hover {
	background-position: 0 0;
}

#contact p span {
	display: block;
	text-transform: uppercase;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	color: #594334;
	font-size: 14px;
	line-height: 48px;
	margin: -38px 0 20px;
	padding-top: 42px;
	text-transform: uppercase;
}

#footer>div {
	background-color: #ac9e94;
	height: 48px;
	width: 822px;
	border-bottom: 1px solid #72675f;
	border-top: 1px solid #cdbeb2;
	margin: 0 auto;
	padding: 0 20px;
	text-align: right;
}

#footer ul.navigation {
	float: left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer ul.navigation li {
	float: left;
	margin-right: 10px;
}

#footer ul.navigation li a {
	color: #594334;
	padding: 0 5px;
	text-decoration: none;
}

#footer ul.navigation li:first-child a {
	border-left: 0;
	padding-left: 0;
}

#footer ul.navigation li a:hover {
	color: #eee7c3;
}

#footer ul.navigation li.active a {
	color: #fff;
}

#footer p {
	margin: 0;
	text-align: center;
	text-transform: none;
}

/** Connect **/
#connect {
	float: right;
	display: inline-block;
	line-height: 26px;
	margin: 12px 0 0;
}

#connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 23px;
	width: 23px;
	margin-left: 10px;
}

#connect a.pinterest {
	background-position: 0 -33px;
}

#connect a.facebook {
	background-position: 0 -98px;
}

#connect a.twitter {
	background-position: 0 -164px;
	width: 28px;
}

#connect a.googleplus {
	background-position: 0 -230px;
}

#connect a.pinterest:hover {
	background-position: 0 0;
}

#connect a.facebook:hover {
	background-position: 0 -65px;
}

#connect a.twitter:hover {
	background-position: 0 -131px;
}

#connect a.googleplus:hover {
	background-position: 0 -197px;
}

/* Source- (Mozilla, 2022, p. 1)
	Property that sets the position of the marker relative to a list item <ul>*/
li {
	list-style: none;
	margin-bottom: 10px;
}

/* Source- (Mozilla, 2022, p. 1)
	Function that positions the X within the first element with the relative property*/
li.selected_x {
	position: absolute;
}

/* Source- (Mozilla, 2022, p. 1)
	Function that transforms the X within the first element in the <ul> menu bar for proper implementation*/
li.selected_x a:before {
	content: "X";
	position: absolute;
	top: -1px;
	right: -5px;
	transform: scaleY(12);
	transform: scaleX(5);
	font-weight: 100;
	pointer-events: none;
}

/* Source- (Mozilla, 2022, p. 1)
	Function that transforms the X within the first element in the <ul> menu bar for proper implementation*/
li.selected_x a:before {
	transform: translate(-630%) rotate(90deg) scaleX(5) scaleY(12);
}

/* Source - (W3C, 2022, p. 1)
	Properties for the <p> element within the application*/
p {
	text-align: center;
	color: white
}

/* Source - (Mozilla, 2022, p. 1)
	  Label properties for the corporate logo within the index screen of application*/
label[for="corp-logo"] {
	font-weight: bold;
	color: white;
}

/* Source - (Mozilla, 2022, p. 1)
	  Label properties for the corporate logo within the index screen of application*/
label[for="logged-label"] {
	font-weight: bold;
	color: white;
}

/* Source - (Mozilla, 2022, p. 1)
	  Label properties used to incorporate the user icon located next to login on each screen*/
#user-icon {
	width: 25%;
	height: 55%;
	position: relative;
	left: -10px;

}

/* Source - (Mozilla, 2022, p. 1)
	  Label properties used to incorporate the shopping cart icon located next to login on each screen*/
#shopping-icon {
	width: 20%;
	height: 55%;
	float: left;
	position: relative;
	top: 10px;
	left: -2px;

}

/* Source - (Mozilla, 2022, p. 1)
	  Properties used to show the Travel header within the travel menu for application*/
#header-travel {
	position: relative;
	left: -250px;
	top: 22px;
	color: #594334;
	font-size: 24px;
	line-height: 48px;
	margin: -22px 50px 20px;
	background-color: #ac9e94;
	display: inline-block;
	max-width: 1004px;
	padding: 10px;

}

#edit-label {
	color: #594334;
	position: relative;
	font-size: 24px;
	left: -567px;
	top: 5px;
}

#previous-screen {
	color: #594334;
	position: relative;
	left: 130px;
	top: -40px;
}

#previous-screen:hover {
	color: purple;
}

tr {
	color: #594334;
	text-align: left;
}

table {
	cursor: pointer;
	position: relative;
	left: -185px;
	top: 2px;
	width: 140%;
	border-collapse: collapse;

}

.selected-table {
	background-color: #ac9e94;
}

#previous-table {
	position: relative;
	left: 1150px;
	top: 400px;
	margin: 25px;
	background-color: #ac9e94;
	color: #594334;
	margin-top: 30px;
	text-decoration: underline;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

#previous-table:active {
	box-shadow: none;
	transform: translateY(5px);
}


#next-table {
	position: relative;
	left: 1250px;
	top: 399px;
	margin: 25px;
	background-color: #ac9e94;
	color: #594334;
	margin-top: 30px;
	/* Add some space above the button */
	text-decoration: underline;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

#next-table:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* Style the tab */
.tab {
	position: relative;
	width: 375px;
	left: -190px;
	top: 10px;
	background-color: #ac9e94;
	color: #594334;
	margin-left: 50px;
	z-index: 10;
	border-top-left-radius: 10px;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #ac9e94;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	color: #594334;
	border-top-right-radius: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button:focus {
	background-color: darksalmon;
	color: #fff;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.hidden {
	display: none;
}

#search-bar {
	position: relative;
	left: -25px;
	top: 0px;
}

#add-trip {
	position: relative;
	left: 550px;
	top: -13px;
	width: 180px;
	height: 18px;
	background-color: #ac9e94;
	color: #594334;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;
}

/* property for the shadow underneath add a trip button in travel screen*/
#add-trip:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* background for the magnifying glass in the travel screen labeled "search travel"*/
.search-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

/* magnifying glass properties in the travel screen labeled "search travel"*/
.search-button svg,
.search-button .fa {
	display: block;
	height: 18px;
	width: 30px;
	top: 25px;
	left: 190px;
	position: relative;
}




/* serach bar in the travel screen that is labeled "search travel"*/
#search {
	padding: 0px 30px 0px 20px;
	position: relative;
	top: 20px;
	left: 200px;
	width: 295px;
	height: 30px;
}



/* magnifying glass on the travel page labeled "search travel"*/
.search-button {
	position: relative;
	top: 50%;
	right: 500px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	border: none;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

th {
	background-color: #ac9e94;
}

tr:nth-child(even) td {
	background-color: #f2f2f2;
}

tr:nth-child(odd) td {
	background-color: lightgray;
}

tr.salmon td {
	background-color: salmon;
}

#travel-footer {
	background-color: #ac9e94;
}

/* style for the background of the magnifying glass top right */
.search-button-top {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

/* properties for the top right magnifying glass */
.search-button-top svg,
.search-button-top .fa {

	height: 25px;
	width: 25px;
	top: 414px;
	left: 10px;
	background-color: darkgrey;
	position: absolute;
	border-radius: 200px;
}



/* search bar at the top right of screen*/
#search-top {
	padding: 0px 30px 0px 20px;
	position: relative;
	top: -65px;
	left: 102.55%;
	max-width: 8%;
	height: 20px;
	border-radius: 25px;
}


/* magnify glass position in the top right of page*/
.search-button-top {
	position: relative;
	top: -480.5px;
	right: -460px;
	width: 20px;
	height: 20px;
	border: none;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

#title {
	position: relative;
	font-size: 20px;
	top: -60px;


	color: white;
}

.hidden {
	display: none;
}

/*navigation top left of screen*/
.navigation {
	position: relative;
	left: -9.5%;
	top: 6px;



}

.arrow {
	font-size: 25px;
	background-color: transparent;
	color: white;
	border: none;
}

.arrow:hover {

	background-color: darkgray;
	border-radius: 10px;

}

.x-symbol:hover {

	background-color: darkgray;
	border-radius: 10px;

}

.x-symbol {
	font-size: 20.5px;
	background-color: transparent;
	color: white;
	border: none;
}

.home-button {
	font-size: 30px;
	text-decoration: none;
	color: white;
	background-color: transparent;
	border: none;

}

.home-button:hover {
	background-color: darkgray;
	border-radius: 10px;
}

#login-label {
	position: relative;
	left: 196px;
	top: -400px;
	color: #5a4535;
}

#signup-label {
	position: relative;
	left: 400px;
	top: 150px;
	color: #5a4535;
}

#login-button {
	background-color: #ac9e94;
	color: rgb(68, 68, 68);
	border: none;
	padding: 5px 30px;
	position: relative;
	top: 70px;
	left: -80px;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;

}

#login-button:active {
	box-shadow: none;
	transform: translateY(5px);
}

#email-label {
	color: #5a4535;
	position: relative;
	left: 125px;
	top: 20px;
}

#forgot-password-question-mark {
	border-radius: 50%;
	padding: 1px;
	border: 3px solid black;
	background-color: white;
	color: black;
	position: relative;
	text-decoration: none;
	top: 150px;
	left: 360px;
}

#forgot-password-question-mark:hover {
	color: black;
}

#password-label {
	color: #5a4535;
	position: relative;
	left: -210px;
	top: 70px;
}

.login-section {
	border: solid black 2px;
	background-color: #ac9e94;
	width: 560px;
	height: 180px;
	position: relative;
	top: -250px;
	left: -130px;
	z-index: 1;
}

#signup-check {
	position: relative;
	top: 250px;
	left: 190px;
}

.signup-section {
	border: solid black 2px;
	background-color: #ac9e94;
	width: 560px;
	height: 350px;
	position: relative;
	top: 225px;
	left: 400px;
	z-index: 999;
}

#input-email {
	border: 2px solid black;
	position: relative;
	left: 130px;
	top: 15px;
	width: 250px;
}

#input-password {
	border: 2px solid black;
	position: relative;
	left: 180px;
	top: 30px;
	width: 250px;
}

#signup-button {
	background-color: #ac9e94;
	color: rgb(68, 68, 68);
	border: none;
	padding: 5px 30px;
	position: relative;
	top: 33px;
	left: 290px;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;

}

#signup-button-signup {
	background-color: #ac9e94;
	color: rgb(68, 68, 68);
	border: none;
	padding: 5px 30px;
	position: relative;
	top: 243px;
	left: 190px;
	box-shadow: 5px 5px 0px black;
	transition: transform 0.2s;

}

#signup-button:active {
	box-shadow: none;
	transform: translateY(5px);
}

#signup-button-signup:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* style properties used for the forgot password label within the login page (Mozilla, 2022, p. 1)*/
#forgot-password {
	position: relative;
	top: 70px;
	left: 130px;
}

/* properties for the links within the application that will change the color to blue when the link is
	visited which will work for when the user presses on link, will highlight purple and go back to blue (Mozilla, 2022, p. 1)*/
a:visited {
	color: blue;
}

/* properties for the links within the application that will hover the color purple when the user
	scrolls over active url elements (Mozilla, 2022, p. 1)*/
a:hover,
a:active {
	color: purple;
}

/* style properties for label for the learn more attribute in the signup page (Mozilla, 2022, p. 1)*/
#learn-more {
	position: relative;
	top: 310px;
	left: 320px;
}

/* style properties for label for the name in the signup page (Mozilla, 2022, p. 1)*/
#name-label-signup {
	color: #5a4535;
	position: relative;
	left: 126px;
	top: 45px;
}

/* style properties for input box for the name in the signup page (Mozilla, 2022, p. 1)*/
#input-name-signup {
	border: 2px solid black;
	position: relative;
	left: 133px;
	top: 45px;
	width: 250px;
}

/* style properties for label for the email in the signup page (Mozilla, 2022, p. 1)*/
#email-label-signup {
	color: #5a4535;
	position: relative;
	left: 126px;
	top: 100px;
}

/*  style properties for input box for the email in the signup page (Mozilla, 2022, p. 1)*/
#input-email-signup {
	border: 2px solid black;
	position: relative;
	left: 194px;
	top: 80px;
	width: 250px;
}

/*  style properties for label for the password in the signupscreen (Mozilla, 2022, p. 1)*/
#password-label-signup {
	color: #5a4535;
	position: relative;
	left: -160px;
	top: 130px;
}

/*  style properties for input box for the password in the signup screen (Mozilla, 2022, p. 1)*/
#input-password-signup {
	border: 2px solid black;
	position: relative;
	left: -154px;
	top: 130px;
	width: 150px;
}

/*  style properties for retype input label for the password in the signup screen (Mozilla, 2022, p. 1)*/
#retype-password-label-signup {
	color: #5a4535;
	position: relative;
	left: 45px;
	top: 202px;
}

/*  style properties for retype input box for the password in the signup screen (Mozilla, 2022, p. 1)*/
#retype-input-password-signup {
	border: 2px solid black;
	position: relative;
	width: 150px;
	top: 160px;
	left: 194px;
}

.box-x {
	position: relative;
	width: 75px;
	height: 60px;
	border: 3px solid black;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	top: 15px;
	left: 60px;
}

.label {
	position: relative;
	top: 12px;
	left: -11px;
	right: 0;
	font-size: 15px;
	width: 75px;
	margin: 0 auto;
	padding: 10px 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	z-index: 1;

}

.close {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: rotate(45deg);
	cursor: default
}

.x {
	position: relative;
	top: 50%;
	left: 50%;
	width: 120%;
	height: 2px;
	background-color: darkgray;
	transform-origin: center;
}

.line-left {
	transform: translate(-50%, -50%) rotate(98deg);
}

.line-right {
	transform: translate(-50%, -50%) rotate(-187deg);
}

/* style properties used for the right side list which shows user, email, message, and mail (Iconscout, 2022, p. 1)*/
#admin-sidebar a {
	color: white;
	position: relative;
	top: 35px;
	padding: 10px;
	margin: 10px;
}

#admin-sidebar a:hover {
	color: purple;
}

#user-options {
	position: relative;
	top: -37px;
	left: 600px;
	transform: rotate(90deg);
	transform-origin: center center;
	height:10px;
	width:100px;
}

#user-logo {
	fill: white;
	transform: rotate(-90deg);
}

#user-logo:hover {
	background-color: #5a4535;
}

#message-icon {
	fill: white;
	transform: rotate(-90deg);
}

#message-icon:hover {
	background-color: #5a4535;
}

#chat-icon {
	fill: white;
	transform: rotate(-90deg);
}

#chat-icon:hover {
	background-color: #5a4535;
}

#question-icon {
	fill: white;
	transform: rotate(-90deg);
}

#question-icon:hover {
	background-color: #5a4535;
}

/* Default styles for header */
#project-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: silver;
	height: 60px;
	padding: 0 20px;
	position: relative;
	width:1370px;
	left:-200px;
}

.admin-footer {
	position: relative;
	top: 600px;
	left: 570px;
}

.admin-box {
	width: 700px;
	height: 330px;
	top: 250px;
	border: 2px solid black;
	position: relative;
	left: 380px;
}

#admin-group-name {
	position: relative;
	top: 230px;
	left: 400px;
	z-index: 1;
	text-decoration: bold;
	font-size: 18px;
	background-color: #ac9e94;
	color: white;
	padding: 10px;
}

#id-label {
	color: #5a4535;
	position: relative;
	left: 270px;
	top: 15px;
}

#destination-label {
	color: #5a4535;
	position: relative;
	left: 95px;
	top: 50px;
}

#resort-label {
	color: #5a4535;
	position: relative;
	left: -125px;
	top: 200px;
}

#person-label {
	color: #5a4535;
	position: relative;
	left: 460px;
	top: 515px;
}

#id-input {
	border: 2px solid black;
	position: relative;
	width: 75px;
	top: 15px;
	left: 294px;
}

#destination-input {
	border: 2px solid black;
	position: relative;
	width: 150px;
	top: 50px;
	left: 120px;
}

#resort-input {
	border: 2px solid black;
	position: relative;
	width: 150px;
	top: 200px;
	left: -95px;
}

#person-input {
	border: 2px solid black;
	position: relative;
	width: 120px;
	top: 250px;
	left: -256px;
}

/* input for the number of days of stay */
#length-stay {
	border: 2px solid black;
	position: relative;
	width: 30px;
	height: 20px;
	top: 91px;
	left: -500px;
}

/* label for the input number of days*/
#length-label {
	color: #5a4535;
	position: relative;
	left: -525px;
	top: 90px;
}

/* label for the counter of nights*/
#night-label {
	color: #5a4535;
	position: relative;
	left: 370px;
	top: 65px;
}

/* label for the counter of days*/
#length-label-day {
	color: #5a4535;
	position: relative;
	left: 420px;
	top: 65px;
}

/* day counter slider*/
#length-stay-day {
	border: 2px solid black;
	position: relative;
	width: 30px;
	height: 20px;
	top: 65px;
	left: 340px;
}

#date-input {
	border: 2px solid black;
	position: relative;
	width: 105px;
	height: 20px;
	top: 115px;
	left: 115px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	position: relative;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: none;
}

#date-label {
	color: #5a4535;
	position: relative;
	left: 90px;
	top: 115px;
}