<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<p id="title">Travlr Getaways | Travel</p>
			<h1 id="header-travel">Travel</h1>
			<p id="edit-label">Editable List of Stuff</p>
			<a id="previous-screen" href="#" onclick="window.history.back();"> &lt Back To Previous Page</a>
			<div class="tab">
				<button class="table-travel active" onclick="openTable(event, 'Beaches')">Beaches (5)</button>
				<button class="table-travel" onclick="openTable(event, 'Cruises')">Cruises (4) </button>
				<button class="table-travel" onclick="openTable(event, 'Mountains')">Mountains (6)</button>
			</div>
			<form action="/travel" id="search-bar" method="get">
				<input type="text" id="search" name="q" placeholder="search travel">
				<button type="submit" class="search-button">
					<svg viewBox="0 0 24 24" width="18" height="18" stroke="#000000" stroke-width="2" fill="none"
						stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
						<circle cx="11" cy="11" r="8"></circle>
						<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
					</svg>
				</button>
			</form>
			<button type="submit" id="add-trip">Add a Trip</button>
			<table id="beaches-table" class="table-content">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Length</th>
					<th>Start</th>
					<th>Resort</th>
					<th>Per Person</th>
					<th></th>
				</tr>
				<tr>
					<td>B0101</td>
					<td>Cancun</td>
					<td>4 nights / 5 days</td>
					<td>Feb 14, 2021</td>
					<td>Emerald Bay, 3-stars</td>
					<td>$799.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0103</td>
					<td>Barbados</td>
					<td>5 nights / 6 days</td>
					<td>Febr 28, 2021</td>
					<td>Castaway Cove, 4-stars</td>
					<td>$1,299.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0401</td>
					<td>Panama City</td>
					<td>4 nights / 5 days</td>
					<td>Mar 21, 2021</td>
					<td>Sunseeker Surf, 4-stars</td>
					<td>$1,199.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0701</td>
					<td>Tahiti</td>
					<td>6 nights / 7 days</td>
					<td>Mar 28, 2021</td>
					<td>Hedonist Heaven, 5-stars</td>
					<td>$1,799.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0901</td>
					<td>French Riviera</td>
					<td>5 nights / 6 days</td>
					<td>Apr 11, 2021</td>
					<td>Chateau Royal, 5-stars</td>
					<td>$2,499.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>

			</table>
			<table id="mountains-table" class="table-content hidden">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Length</th>
					<th>Start</th>
					<th>Resort</th>
					<th>Per Person</th>
					<th></th>
				</tr>
				<tr>
					<td>B0101</td>
					<td>Cancun</td>
					<td>4 nights / 5 days</td>
					<td>Feb 14, 2021</td>
					<td>Emerald Bay, 3-stars</td>
					<td>$799.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0103</td>
					<td>Barbados</td>
					<td>5 nights / 6 days</td>
					<td>Febr 28, 2021</td>
					<td>Castaway Cove, 4-stars</td>
					<td>$1,299.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0401</td>
					<td>Panama City</td>
					<td>4 nights / 5 days</td>
					<td>Mar 21, 2021</td>
					<td>Sunseeker Surf, 4-stars</td>
					<td>$1,199.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0701</td>
					<td>Tahiti</td>
					<td>6 nights / 7 days</td>
					<td>Mar 28, 2021</td>
					<td>Hedonist Heaven, 5-stars</td>
					<td>$1,799.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0901</td>
					<td>French Riviera</td>
					<td>5 nights / 6 days</td>
					<td>Apr 11, 2021</td>
					<td>Chateau Royal, 5-stars</td>
					<td>$2,499.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0901</td>
					<td>French Riviera</td>
					<td>5 nights / 6 days</td>
					<td>Apr 11, 2021</td>
					<td>Chateau Royal, 5-stars</td>
					<td>$2,499.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
			</table>
			<table id="cruises-table" class="table-content hidden">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Length</th>
					<th>Start</th>
					<th>Resort</th>
					<th>Per Person</th>
					<th></th>
				</tr>
				<tr>
					<td>B0101</td>
					<td>Cancun</td>
					<td>4 nights / 5 days</td>
					<td>Feb 14, 2021</td>
					<td>Emerald Bay, 3-stars</td>
					<td>$799.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0103</td>
					<td>Barbados</td>
					<td>5 nights / 6 days</td>
					<td>Feb 28, 2021</td>
					<td>Castaway Cove, 4-stars</td>
					<td>$1,299.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0401</td>
					<td>Panama City</td>
					<td>4 nights / 5 days</td>
					<td>Mar 21, 2021</td>
					<td>Sunseeker Surf, 4-stars</td>
					<td>$1,199.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
				<tr>
					<td>B0701</td>
					<td>Tahiti</td>
					<td>6 nights / 7 days</td>
					<td>Mar 28, 2021</td>
					<td>Hedonist Heaven, 5-stars</td>
					<td>$1,799.00</td>
					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);">Edit</a> <a
							href="javascript:void(0);" style="text-decoration:none;">⊗</a></td>
				</tr>
			</table>
			<script src="javascripts/function-scripts.js"></script>
		</div>

		<button id="previous-table">Previous</button>
		<button id="next-table">Next</button>
		{{> footer}}
	</div>
	</div>
</body>

</html>