<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Travlr Getaways | Travel</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
				<h1 id = "header-travel">Travel</h1>
				<p id = "edit-label">Editable List of Stuff</p>
				<a id = "previous-screen" href="#" onclick="window.history.back();"> &lt Back To Previous Page</a>
			</div>
		{{> footer}}
		</div>
		<p>
			© 2023 by Travlr Getaways. All Rights Reserved
			</p>
	</div>
</body>
</html>